body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 16px;
}

.container > div h2 {
  text-align: center;
}

.intro {
  margin: -16px;
  padding: 16px;
  background-color: black;
  color: white;
  text-align: center;
}

.intro img {
  height: 400px;
  width: 400px;
  border-radius: 14px;
}

table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

p {
  font-size: 1, 5 em;
}

.dynamic-text-color {
  color: royalblue;
}
